@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #080A15;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #fff;
    width: 45rem;
    height: auto;
    border-radius: 20px;
}

.image img{
    width: 45rem;
}

.box-infos{
    padding: 20px;
}

h1{
    color: #333333;
    font-weight: 900;
    font-size: 50px;
}

table {
    width: 100%;
    margin-top: 25px;
}

table th, table td {
    width: 33.33%; 
}


table .infos-header{
    font-size: 18px;
    color: #666666;
}

table .infos-body{
    font-size: 26px;
    color: #333333;
}


hr{
    margin-top: 50px;
    margin-bottom: 50px;
}

.bar-code{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
