*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #080A15;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #fff;
    width: 45rem;
    height: auto;
    border-radius: 20px;
    perspective: 700px;
    margin-top: -1150px;
}

.image img{
    width: 45rem;
}

.box-infos{
    padding: 20px;
}

h1{
    color: #333333;
    font-weight: 900;
    font-size: 50px;
}

table {
    width: 100%;
    margin-top: 25px;
}

table th, table td {
    width: 33.33%; 
}


table .infos-header{
    font-size: 18px;
    color: #666666;
}

table .infos-body{
    font-size: 26px;
    color: #333333;
}


hr{
    margin-top: 50px;
    margin-bottom: 50px;
}

.bar-code{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

p{
    font-size: 26px;
}


.ticket-front, .ticket-back{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 700ms;
}

.ticket-front{
    background-color: #fff;
    width: 45rem;
    height: auto;
    border-radius: 20px;
    z-index: 1;
}

.ticket-back{
    background-color: #fff;
    width: 45rem;
    height: auto;
    border-radius: 20px;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}

.ticket-back h1{
    margin-bottom: 15px;
}

.ticket-back h1,p{
    padding: 25px;
    line-height: 1.1;
}

.container:hover .ticket-front{
    transform: rotateY(180deg);
    z-index: 0;
}

.container:hover .ticket-back{
    transform: rotateY(0);
    z-index: 1;
}